<% content_for :side_column do %>
    <div class="mx-auto max-w-7xl">
      <p>
        This page contains an inventory of things you might get exposed to if your system contains a vulnerability that allows bad actors to inject code into your HTML.
      </p>
      <p class="mt-6">
        You can test those attacks against 4 kinds of CSP:
      </p>
      <ul class="mt-6 space-y-1">
        <li>
          <strong>No CSP</strong> - the policy that allows everything
        </li>
        <li>
          <strong>Rails' default</strong> – somewhat permissive policy that comes with Rails
        </li>
        <li>
          <strong>Host-constrained</strong> – policy that only allows code from certain hosts, such as origin and CDNs
        </li>
        <li>
          <strong>Strict-dynamic</strong> – only allows scripts which were explicitly marked as safe with a provided nonce, and the scripts added by them. Realistically, the strictest policy you'd get in a large project with GTM, frontend frameworks, and other JS-intensive systems.
        </li>
      </ul>
      <p class="mt-6">
        No worries – the attack won't run until you've pressed the button.
      </p>
    </div>

<% end %>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-8">
  <div class="mx-auto max-w-7xl">
    <ul role="list" class="space-y-5">
      <% @attacks.each do |attack| %>
        <li class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
          <%= render attack %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
