<h1>Welcome, EuRuKo!</h1>
<h2>Let's demonstrate how Content-Security-Policy works!</h2>

<p>This website is a faux landing page. Like the one you might see anywhere on the web. It contains pretty much all of the standard landing page contains a section which showcases how happy people are about the thing we're showcasing here.</p>

<p>However, unlike most landing mages, this page displays the actual user-generated content. Not something pre-selected and carefully curated, but <em>raw, live data</em> from the database.</p>

<p>As a result, it opens up a path for a vulnerability. There's a chance a user might inject some malicious code, and we might just fail to properly handle it... and then, well, we're in trouble.</p>

<p>Don't worry, though! Right now you're on the SAFE version of the website. You will need to explicitly jump the vulnerability!</p>

<ul>
  <li>
    Review by <strong>John Doe</strong>: 1.5/5. "Bad, bad, I can no longer PWN your websites"
  </li>
  <li>
    Review by <strong>Jovan Neovan</strong>: 5/5. "I love this website! I know how to PWN all the websites!"
  </li>
  <li>
    Review by <strong>Cool Haxxor</strong>: 3/5. "I did pwn the website"
  </li>
</ul>
